<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Hi How Are You </h1>
        <marquee behavior="" direction="left"><h1>I AM GOOD</h1></marquee>
        <img src="https://supertails.com/cdn/shop/articles/main-900x600-1-900x600-1-900x600-1-900x600-1688123739700.jpg?v=1697115428" alt="Image not Found" width="500px">
    </center>
    
</body>
</html>